<?xml version="1.0" encoding="utf-8"?>
<beans>
    <bean id="emailService" class="com.ioc.client.DefaultEmailSender">
        <property name="protocol" value="TCP"/>
        <property name="port" value="1234"/>
    </bean>

    <bean id="userService" class="com.ioc.client.UserService">
        <property name="name" value="David"/>
        <property name="emailSender" ref="emailService"/>
    </bean>
</beans>